
<div class="sidebar-wrapper">
    <div class="logo">
        <a href="#" class="simple-text">
            Smart Reasons
        </a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li>
                <a href="#" data-toggle="collapse" data-target="#submenu-1"><i class="fa fa-user-circle"></i> Clientes <i class="fa fa-fw fa-angle-down pull-right"></i></a>
                <ul id="submenu-1" class="collapse">
                    <li><a [routerLink]="['/clients/create-client']"><i class="fa fa-angle-double-right"></i> Nuevo cliente</a></li>
                </ul>
            </li>
            <li>
                <a href="#" data-toggle="collapse" data-target="#submenu-2"><i class="fa fa-shopping-basket"></i> Productos <i class="fa fa-fw fa-angle-down pull-right"></i></a>
                <ul id="submenu-2" class="collapse">
                    <li><a [routerLink]="['/products/create-product']"><i class="fa fa-angle-double-right"></i> Nuevo producto </a></li>
                </ul>
            </li>
            <li>
                <a href="#" data-toggle="collapse" data-target="#submenu-3"><i class="fa fa-file-text-o"></i> Facturación electr. </a>
                <ul id="submenu-3" class="collapse">
                    <li><a [routerLink]="['/invoices/create-invoice']"><i class="fa fa-angle-double-right"></i> Nueva factura </a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
